---
layout: site
title: Services
---
{% include carousals/services/carousal-services.html%}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="page-heading"> Our Services</div>
            <div class="page-description">
                We assist organizations design and develop web, desktop and mobile
                solutions. We innovate and transform ideas into reality for businesses and provide a rich, seamless
                experience to their customers across web resulting in higher engagement, efficiency, maintainability and
                profitability.
            </div>
            <hr>
        </div>
    </div>

    {% for service in site.data.site.allServices.services %}
    <div class="row">
        {% for item in service.row %}
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 service">

            <img src="{{site.baseurl}}/images/services/{{item.icon-url}}" class="service-image">
            <h3 class="title">{{item.title}}</h3>
            <div class="text">
                <p>
                    {{item.description}}
                </p>
            </div>
            <a href="{{item.relativeUrl}}" id="services_" rel="nofollow">
                <span class="cta">Read More</span>
                </span>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>