---
---

// IMPORTS
@import "reset";
@import "variables";

/**************/
/* BASE RULES */
/**************/

$banner-opacity: 0.9;
$banner-height: 500px;
$banner-width: 100%;
$blur-depth: 3px;

.banner-background-1 {
  opacity: $banner-opacity;
  background-image: url("images/carousal-images/banner-1.jpg");
  height: $banner-height;
  width: $banner-width;
}

.banner-background-2 {
  opacity: $banner-opacity;
  background-image: url("images/carousal-images/banner-2.jpg");
  height: $banner-height;
  width: $banner-width;
}

.banner-background-3 {
  opacity: $banner-opacity;
  background-image: url("images/carousal-images/banner-3.jpg");
  height: $banner-height;
  width: $banner-width;
}

table {
  display: table;
  border-collapse: separate;
  width: 100%;

  tr:hover {
    background-color: beige;
  }
  th {
    font-weight: bold;
  }
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  font-size: 12px;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}

::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.banner-text {
  color: #d8e1ff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.office-details {
  margin-top: 20px;
  margin-bottom: 20px;
}

.details {
  margin-bottom: 10px;
  color: #5e5e5e;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.read-more {
  text-align: center;
  font-size: 12px;
}

.btn-outline-info {
  color: #5cb85c;
  background-image: none;
  background-color: #f2f2f2;
  border: 1px solid #5cb85c;
}

.btn-outline-info:hover {
  background-image: none;
  background-color: #d0e9c6;
  border-color: #80b880;
}

.entry-header {
  font-size: 15px;
  a {
    text-decoration: no-underline;
  }
}

.excerpt {
  font-size: 11px;
  text-align: left;
}

.post {
  background-color: white;
  padding-right: 10px;

  blockquote {
    margin: 2.8em .8em;
    border-left: 2px groove #1fff57;
    padding: 0.1em 1em;
    color: #54aca6;
    font-size: 13px;

  }

  .comments {
    margin-top: 10px;
  }

  .tags {
    text-align: left;
    font-size: 15px;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  .entry {
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding-top: 5px;
  text-align: center;
}

.blue-box {
  height: 250px;
  text-align: left;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #e1e1e1;
  background: #fff;
}

.blue-box:hover {
  background-color: #fcf8e3;
  opacity: 0.8;
}

.blog-box .bottom {
  color: #d9167e;
  margin-bottom: 0;
  width: 100%;
  line-height: 31px;
  text-align: right;
}

.left-content {
  padding: 0 0 90px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 90px;
  padding-left: 0px;
  float: left;
}

//Bottom section:starts
.bottom-section {
  background-color: #f9fdff;
  position: absolute;
  width: 100%;
  padding-top: 10px;
  text-transform: capitalize;
}

.column-section {
  padding-right: 20px;

}

.navbar-blue {
  background-color: #68a1ff;
  border-color: #878bff;
  color: black;
}

.menu-item {
  border-bottom: 1px groove #f8f2fb;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #565656;
  a:hover {
    text-decoration: no-underline;
  }
}

.media-heading {
  font-weight: bold;
}

.logo-section {
  text-transform: uppercase;
}

.bottom-section a {
  color: #1b6d85;
  text-decoration: none;
}

.bottom-section a:hover {
  color: #8c8c8c;
}

.scroll-top {
  position: fixed;
  bottom: 10px;
  right: 0;
  background-color: #faebcc;
}

.page-heading {
  text-align: center;
  font-family: Tahoma;
  font-weight: bold;
  font-size: xx-large;
  color: #555555;
}

.page-description {
  font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
  font-size: medium;
  color: #5e5e5e;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.service {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-right: 20px;
  margin-top: 30px;
  border-bottom: 0.1em solid #b5f9e5;
  border-right: 0.1em solid #b5f9e5;

}

.service:hover {
  opacity: 0.7;
  background-color: #fff2ef;
  box-shadow: 5px 10px 30px #ff1d62;
  text-shadow: 0 0 3px #ffb562;

}

.service-image {
  opacity: 0.7;
  width: 64px;
  height: 64px;
}

.service-image:hover {
  opacity: 1;

}

.view-more-row {
  padding-top: 50px;
  padding-bottom: 50px;
}

.view-more-btn {
  background-color: #d0e9c6;
  border: 1px solid #ff201e;
  color: #2b542c;

}

.view-more-btn:hover {
  border:1px solid #ff3d58;
  background-color: #ff9c61;
  box-shadow: 3px 3px 5px #edae3e;
  text-shadow: #d0e9c6;
  color: #ffffff;

}

//Bottom section:ends

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start

@import "svg-icons";
@import "highlights";
.svg-icon {
  opacity: 0.6;
}

.svg-icon:hover {
  opacity: 1;
}