---
layout: default
title: Tag Cloud
---

<!--The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.-->

{% assign rawtags = "" %}
{% for post in site.posts %}
{% assign ttags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}

{% assign rawtags = rawtags | split:'|' | sort %}

<!--The following part removes dulpicated tags and invalid tags like blank tag.-->

{% assign tags = "" %}

{% for tag in rawtags %}

{% if tag != "" %}
{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}

{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}

<ul class="list-group">
    <li class="list-group-item active"> Tag Cloud</li>

    {% for tag in tags %}
    <li class="list-group-item ">
        <a href="#">{{tag}}</a>
        <a href="#"><span class="badge pull-right">5 Blogs</span></a>
    </li>
    {% endfor %}

</ul>