<hr/>
<div class="container-fluid"
     style="background-color: mistyrose;position: absolute;margin-bottom:53px;width: 100%;opacity: .7">
    <div class="row">
        {% for column in {{site.data.site.allLinks.links}} %}
        <div class="col-md-{{ 12 | divided_by: site.data.site.allLinks.links.size}}">
            <div class="media-heading"><strong>{{column.title}}</strong></div>
            <ul class="clearfix menu">
                {% for item in column.items %}
                <li class="menu-item"><a href="{{ site.baseurl }}/{{item.relativeUrl}}">{{item.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
