<hr/>
<style>
    .bottom-section {
        background-color: #d0e9c6;
        position: absolute;
        margin-bottom: 53px;
        width: 100%;
        opacity: .7;
        padding-bottom: 100px;
        padding-top: 10px;
    }
    .column-section{
        border-right:1px groove #4cae4c;
        border-top: 1px dotted;
        border-left: 1px dotted #449d44;
        border-radius: 50%;
        font-family: Tahoma;

    }
    .media-heading{
        font-weight: bold;
    }
    .logo-section{
        text-transform: uppercase;
    }

    .bottom-section a{
        color: #1b6d85;
        text-decoration:none;
    }
    .bottom-section a:hover{
        color: #8c8c8c;
    }
    .scroll-top{
        position: fixed;
        bottom: 50px;
        right: 0;
        background-color: #faebcc;
    }
</style>
<div class="container bottom-section">
    <div class="row">
        {% for column in {{site.data.site.allLinks.links}} %}
        <div class="col-md-{{ 9 | divided_by: site.data.site.allLinks.links.size}} column-section">
            <div class="media-heading">{{column.title}}</div>
            <ul class="clearfix menu">
                {% for item in column.items %}
                <li class="menu-item"><a href="{{ site.baseurl }}/{{item.relativeUrl}}">{{item.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        <div class="col-md-1"></div>
        <div class="col-md-2 logo-section">
            <div class="media-heading">{{column.title}}</div>
            <img src="{{site.baseurl}}/images/logo/logo.png"/>
            <div>
                &copy 2017, Soft I Ventures</div>
        </div>
    </div>
</div>


<ul class="nav pull-right scroll-top">
    <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>

<script>
    $('.scroll-top').click(function(){
        $('body,html').animate({scrollTop:0},1000);
    })
</script>