<div class="slider-area">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"
         data-interval="3000" data-wrap="false">
        <!-- Indicators -->

        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                {% include home/slide-1.html%}
            </div>

            <div class="item">
                {% include home/slide-2.html %}
            </div>

            <div class="item">
                {% include home/slide-3.html%}
            </div>

            <div class="item">
                {% include home/slide-4.html%}
            </div>
            <div class="item">
                {% include home/slide-5.html%}
            </div>
        </div>
        <a class="carousel-control left" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>


