<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Vinay's Blog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse ">
            <ul class="nav navbar-nav navbar-right">
                <!--<li class="active"><a href="{{ site.baseurl }}/home">Home</a></li>-->
                <li><a href="{{ site.baseurl }}/">Blogs</a></li>
                <li><a href="{{ site.baseurl }}/tagCloud">Tag Cloud</a></li>
                <li><a href="{{ site.baseurl }}/categories">Category</a></li>

                <li><a href="{{ site.baseurl }}/about">Contact Us</a></li>
            </ul>
        </div>

    </div>
</nav>