<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> Soft I Ventures </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse ">
            <ul class="nav navbar-nav navbar-right">
                <li id="home" class="active"><a href="{{ site.baseurl }}/">
                    Home
                </a></li>
                <li id="services"><a href="{{ site.baseurl }}/services">Services</a></li>
                <li id="about"><a href="{{ site.baseurl }}/about">About</a></li>
                <li id="contactUs"><a href="{{ site.baseurl }}/contactUs">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script>

    var urlArray = $(location).attr('href').split("/")
    var relativeURL = urlArray[urlArray.length - 2]
    if (relativeURL === "") {
        relativeURL = "home"
    }
    $(".nav li").removeClass("active");
    $("#" + relativeURL).addClass("active");
    if ($(".nav .active").length === 0) {
        $("#home").addClass("active");
    }
</script>