<hr xmlns="http://www.w3.org/1999/html"/>
<div class="row office-details">
    <div class="container ">
        <div class="col-md-6 col-sm-12 col-lg-6">
            <span class="media-heading"> Mail Us: </span>
            <div class="details">
                Soft IV Private Limited, <br/>
                BPTP Business Park, <br/>
                Greater Faridabad, <br/>
                Faridabad - 121002, <br/>
                Haryana, India.
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6" style="border-left: 0.1em groove #94d4d5">
            <span class="media-heading">Registered Office Address: </span>
            <div class="details">
                Soft IV Private Limited, <br/>
                BPTP Business Park, <br/>
                Greater Faridabad, <br/>
                Faridabad - 121002, <br/>
                Haryana, India.
            </div>
        </div>
    </div>
</div>