<div class="slider-area">
    <div id="carousal-generic" class="carousel slide" data-ride="carousel"
         data-interval="3000" data-wrap="false">
        <!-- Indicators -->

        <ol class="carousel-indicators">
            <li data-target="#carousal-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousal-generic" data-slide-to="1"></li>
            <li data-target="#carousal-generic" data-slide-to="2"></li>
            <li data-target="#carousal-generic" data-slide-to="3"></li>
            <li data-target="#carousal-generic" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {% for slide in {{site.data.site.carousal.slides.home}} %}
            <div class="item {{slide.class}}">
                {%
                include carousals/home/slide-1.html
                slide=slide
                %}
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control left" href="#carousal-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#carousal-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>


