<div class="container-fluid home"
     style='background-image: url("../../images/carousal-images/blogs/{{slide.imageName}}");'>
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="homepage-style">
                <div class="col-md-11">
                    <div class="unique-apps">
                        <h2>{{slide.title}}</h2>
                        <h4>
                            {{slide.description}}
                        </h4>
                        {% if slide.viewMore %}
                        <div class="home-btn left">
                            <a class="btn btn-primary btn-lg" href="{{site.baseurl}}/services/product-engineering">
                                View More
                                <span><i class="fa fa-paper-plane"></i></span>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include nav-breadcrumbs.html %}
            </div>
        </div>
    </div>
</div>