<style>
    #home {
        background-image: url("../../../images/carousal-images/blogs/banner-1.gif");
        background-size: 100% 650px;
        opacity: 0.9;
        color: #fff;
        margin-top: 0;
        min-height: 650px;
    }
</style>
<div class="container-fluid" id="home">
    <div class="row">
        <div class="col-md-12">
            <div class="homepage-style">
                <div class="col-md-10">
                    <div class="unique-apps">
                        <h2>Blogs </h2>
                        <h4>
                            We love sharing a lot.
                        </h4>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>