---
layout: default
---
<div class="site-info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <a href="{{ site.baseurl }}/">
                    <img class="img-thumbnail" src="{{ site.avatar }}"/>
                </a>
                <h4><a href="{{ site.baseurl }}/">{{ site.name }}</a></h4>
            </div>
            <div class="col-md-9">
                <p class="site-description">{{ site.description }}</p>
            </div>
        </div>

        <div class="row">
            <article class="page">
                <div class="entry">
                    {{ content }}
                </div>
            </article>
        </div>

    </div>

</div>


