---
layout: default
---

<article class="post">
    <h3>{{ page.title }}</h3>

    <div style="padding-bottom: 10px">
       <span class="date">
        {{ page.date | date: "%e %b, %Y" }}
            <em class="pull-right">
            By <a href="{{ site.baseurl }}/about"> Vinay Prajapati</a>
        </em>
       </span>
    </div>

    <div class="entry">
        {{ content }}
    </div>


    <div class="tags">
        <strong>Tags:</strong>
        {% for tag in page.tags%}
        <a href="{{site.baseurl}}/tag/{{tag | downcase}}" class="btn btn-outline-info">{{tag}}</a>
        {% endfor %}
    </div>

    {% include disqus.html %}
    <script id="dsq-count-scr" src="//http-blogs-faadudeveloper-com.disqus.com/count.js" async></script>
</article>
