<style>
    #home {
        background-image: url("../../images/carousal-images/banner-1.png") ;
        background-size: 100% 650px;
        opacity: 0.9;
        color: #fff;
        margin-top:0;
        min-height: 650px;
    }
</style>
<div class="container-fluid" id="home">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="homepage-style">
                <div class="col-md-10">
                    <div class="unique-apps">
                        <h2>We build and manage disruptive web products and Internet-based businesses </h2>
                        <h4>
                            Product Engineering partner for Fortune 500 companies as well as Silicon Valley startups to build cloud-native products and applications
                        </h4>

                        <div class="home-btn left">
                            <a class="btn btn-primary btn-lg" href="{{site.baseurl}}/services">
                                View More
                                <span><i class="fa fa-paper-plane"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>